
<h1 >Пожалуйста, авторизуйтесь</h1>

<%- if flash[:error] %>
<div class='alert alert-danger'><%= flash[:error] %></div>
<% end %>
<div class="tentest">
<%= form_for :session, url: sessions_path do |f| %>
  <div class='form-group'>
    <%= f.label :Логин, class: "twelvetest" %>
    <%= f.text_field :nick, class: 'form-control', placeholder: '' %>
  </div>
  <div class='form-group'>
    <%= f.label :Пароль, class: "twelvetest" %>
    <%= f.password_field :password, class: 'form-control', placeholder: '' %>
  </div>
  <div class='form-group'>
    <%= f.submit 'Войти', class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
<p class='mt-2'>
  <%= link_to 'Создать новый аккаунт', new_user_path %>
</p>