<%= link_to 'new', new_otdel_path %>
<div>
<h1>Отделы</h1>
<% @otdels.each do |o| %>
<div class="testodin">
  <%= o.name %> 
  </div>
   
  <%= link_to "Добавить должность", new_position_path(o) %>
  <table>
    <% @otdel_position.where(otdel_id: o.id).each do |f| %>
    <tr>
      <td>
      <%= f.position.name %>
      </td>  
      <td>
      <%= link_to 'Удалить', otdels_path(f), method: :patch, data: { confirm: 'Вы уверены?' } %>
      </td>
      <% end %>
      </tr>

</table>
<% end %>
</div>



