<h1>Зарегистрироваться</h1>
<p>Создать новый аккаунт. Все поля обязательны для заполнения</p>

<% if @user.errors.any? %>
  <div class='alert alert-danger'>
    <p>Пожалуйста исправьте следующие ошибки</p>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
  <div class='form-group'>
    <%= f.label :Логин %>
    <%= f.text_field :nick, class: 'form-control' %>
  </div>
  
  <div class='form-group'>
    <%= f.label :Пароль %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :"Подтверждение пароля(еще раз пароль)" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <%= f.submit 'Зарегистрироваться', class: 'btn btn-primary' %>
<% end %>

<p class='mt-2'>
  Уже зарегистрированы <%= link_to 'Войти', login_path %>
</p>