
<p id="notice"><%= notice %></p>
<%= form_with(model: spravka_life, local: true) do |form| %>
  <% if @flag %>
    <% @type_s.each do |ts| %>
      <% if spravka_life.stype_id == ts.id %>
        <% spravka_type = ts.id %>
        <center><h3><%= ts.name_s %></h3></center>
      <% end %>
    <% end %>
  <% end %>

  <% if spravka_life.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spravka_life.errors.count, "error") %></h2>

      <ul>
      <% spravka_life.errors.full_messages.each do | message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="tentest">
  <% @comonform.fields.each do |k,v| %> <!-- Основная форма, которая вклюячает в себя поле с ФИО, отдел, должность, место предоставления -->
        <div class="field">
          <%= form.label v[0], class: "twelvetest" %>
          <%= form.public_send(v[1],:"#{k}", class: 'thirteentest') %>
          </div>
        <% end%>

  

  <% unless @flag %>
    <div class="field">
    <%= form.label "Тип справки", class: "twelvetest" %>
    <p>
    
    <%= form.select(:stype_id,{}, {}, {:class=> 'fourteentest'})  do   %>
    <%= options_from_collection_for_select(Stype.all, :id, :name_s) %>
    <% end %>
    </p>
    </div>
  <% end %> 
  

  <% if @flag %>
  <%= form.hidden_field :flag, value: 1 %>
    <% if spravka_type = 1 %>
    <% end%>  
        
        <% @fields.fields.each do |k,v| %>
        <div class="field">
          <%= form.label v[0] %>
          <%=  form.public_send(v[1], :"#{k} ", class: 'thirteentest') %>
          </div>
        <% end%>
        
  
  <div class="actions">
  <%= form.submit "Создать заявку", class: "eleventest" %>
  </div>
    


  
   
  <% else %>
  <div class="actions">
    <%= form.submit "Создать заявку", class: "eleventest"  %>
  </div>
  <% end %>

  
<% end %>
</div>