<div class="srpavka_close">
<center><h1 class="zerotest">
КОМИТЕТ ЗДРАВООХРАНЕНИЯ КУРСКОЙ ОБЛАСТИ <br>
ОБЛАСТНОЕ  БЮДЖЕТНОЕ   УЧРЕЖДЕНИЕ  ЗДРАВООХРАНЕНИЯ <br>
«ОБЛАСТНОЙ  ПЕРИНАТАЛЬНЫЙ  ЦЕНТР» <br>
________________________________________________________________________________
                  
</h1>
</center>
<p class="onetest">
Вячеслава Клыкова пр-т, д.100,Курск, 305005 <br>                                              
главный врач  (4712) 32-50-33        <br>                                 
бухгалтерия    (4712) 32-57-71 <br>
тел./факс         (4712) 32-50-33    <br>                                                     
E-mail:  sekretar@opckursk.ru

_______________№________            
				
</p>

<div class="twotest">
<center><h2>СПРАВКА</h2></center>
<p class="body">
Дана <%= @spravka_lives.name_s %> в том, что <%= @gender %>
                                   
действительно работает  в  областном бюджетном учреждении здравоохранения «Областной перинатальный центр» в должности   <%= @spravka_lives.department %>, <%= @spravka_lives.position %>  на 

<%= @spravka_lives.stavka %> ставку(и)   (приказ от <%= @spravka_lives.prikaz_date %>  № <%= @spravka_lives.prikaz_n %>).
<br>
<span>
         Справка выдана для предоставления  в <%= @spravka_lives.place %>.
</span>
</p>
</div>
<p class="threetest">
Заместитель главного 
врача по кадровым вопросам                                                      
</p>
<p class="fourtest">
Н.Ю. Афанасьева
</p>
<div class="down">
<p class="ass">
<>
<%= link_to 'Венуться', root_path %> | 
<%= link_to 'Распечатать', change_flag_path(@spravka_lives), method: :patch, :onclick => 'window.print();'%>
</p>