
<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Имя</th>
      <th>Тип справки</th>
      <th>Ссылка на заявление</th>
      <th>Ссылка на справку</th>
      <th>Дата создания</th>
     
    </tr>
  </thead>

  <tbody>
    <% @spravka_lives.each do |spravka_life| %>
      <tr>
        <td><%= spravka_life.name_s %></td>  
        <% @type_s.each do |type_s|%>
        <% if type_s.id == spravka_life.stype_id%>
        <td><%= type_s.name_s %></td>
        
        <% if type_s.spravka_exist %>
          <td><%= link_to 'Заявление', spravka_life %></td>
          <% if spravka_life.flag == 1 %>
            <td><%= link_to 'Справка', close_path(spravka_life) %></td>
          <% else %>
          <td></td>  
          <% end %>
        <% else %>
            <td><%= link_to 'Заявление', spravka_life %></td>
            <td></td>
        <% end %>
        
          

            <!-- through the ass  -->
            
          <!--end ass -->

        <% end %>
        <% end %>
        <td><%= spravka_life.created_at.strftime("%d.%m.%Y") %></td>
        <!--<td><%= link_to 'Edit', edit_spravka_life_path(spravka_life) %></td>
        <td><%= link_to 'Destroy', spravka_life, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>


