
<% if @spravka_life.stype_id == 1 %>
<div class="fivetest">
<p class="hetter">
Главному врачу ОБУЗ ОПЦ <br>В.И. Крестининой
<br>
отдел <%= @spravka_life.department %>, <%= @spravka_life.position %>
<br>
<%= @spravka_life.name_s %>
<br>
<br>
<br>
<br>

</p>
</div>
<center><h2>Заявление</h2></center>
<p class="seventest">
Прошу разрешить выдать мне копию моей трудовой книжки для предоставления в <%= @spravka_life.place %>.
</p>
<br>
<br>
<br>
<br>
<div class="down">
<div class="date_down">
<%= Date.today.strftime("%d.%m.%Y") %>
</div>
<div class="date_down">Подпись</div>
</div>

<% end %>

<% if @spravka_life.stype_id == 2 %>
<p class="hetter">
Главному врачу ОБУЗ ОПЦ <br>В.И. Крестининой
<br>
отдел <%= @spravka_life.department %>, <%= @spravka_life.position %>
<br>
от
<%= @spravka_life.name_s %>
<br>
<br>
<br>
<br>

</p>
<center><h2>Заявление</h2></center>
<p class="seventest">
Прошу  выдать справку с места работы для предоставления в <%= @spravka_life.place %>.
</p>
<br>
<br>
<br>
<br>
<div class="down">
<div class="date_down">
<%= Date.today.strftime("%d.%m.%Y") %>
</div>
<div class="date_down">Подпись</div>
</div>
<% end %>

<% if @spravka_life.stype_id == 3 %>
<p class="hetter">
Главному врачу ОБУЗ ОПЦ <br>В.И. Крестининой
<br>
отдел <%= @spravka_life.department %>, <%= @spravka_life.position %>
<br>
от
<%= @spravka_life.name_s %>
<br>
<br>
<br>
<br>

</p>
<center><h2>Заявление</h2></center>
<p class="body">
Прошу  выдать справку об отпуске для предоставления в <%= @spravka_life.place %>.
</p>
<br>
<br>
<br>
<br>
<div class="down">
<div class="date_down">
<%= Date.today.strftime("%d.%m.%Y") %>
</div>
<div class="date_down">Подпись</div>
</div>
<% end %>

<p class="ass">
<%= link_to 'Обработать', edit_spravka_life_path(@spravka_life) %> |
<%= link_to 'Венуться', root_path %> | 
<%= link_to 'Распечатать',root_path, :onclick => 'window.print();'%>
</p>
