/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.zerotest {
	font-size: 16px;
	color: black;
	line-height: 30px;
	font-family: 'Times New Roman'
}
.onetest {
	font-size: 16px;
	position: absolute;
	left: 50;
	margin-left: 50px;
	width: 200px;
	margin-top: 30px;
	font-family: 'Times New Roman'
}
.twotest {
	margin-top: 250px;
	font-size: 15px;
	font-family: 'Times New Roman'
}
.twotest p {
	font-size: 16px;
	margin-bottom: 20px;
	text-align: justify;
	margin-bottom: 180px;
	padding-right: 50px;
	padding-left: 50px;
	text-indent: 1.5em;
	font-family: 'Times New Roman'
}
.twotest h2 {
    font-size: 16px;
	color: black;
	line-height: 30px;
	font-family: 'Times New Roman'
}
.body span {
	padding-left: 25px;
}
.threetest {
	position: absolute;
	left: 30;
	font-size: 16px;
	width: 300px;
	margin-left: 50px;
	font-family: 'Times New Roman'
}
.fourtest {
	position: absolute;
	right: 0;
	margin-right: 80px;
	font-size: 16px;
	font-family: 'Times New Roman';
}
.hetter {
	font-size: 18px;
	font-family: 'Times New Roman';
}
.sixtest p {
    font-size: 100px;
}
.ass {
	margin-top: 100px;
}
h2 {
	margin-top: 100px;
	font-size: 23px;
	font-family: 'Times New Roman';
	text-align: center;
}
.seventest {
	font-size: 19px;
	font-family: 'Times New Roman';
	text-align: center;
}
.down {
	margin-top: 50px;
	padding-left: 50px;
    
	font-size: 19px;
	font-family: 'Times New Roman'
}
.field {
	text-align: center;
}
.tentest {
	margin-top: 100px;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
	min-width: 100px;
    max-width: 300px;
    padding: 15px 20px;
    border: 1px solid #383838;
    background: #F8F8FF;
    z-index: 1000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 25px;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
}
.eleventest {
    margin-left: 40px;
    text-align: center;
    width:220px;
    height:40px;
    color:#FFF;
    background-color: #6495ED;
    text-decoration:none;
    line-height:33px;
  border-radius: 10px;
}
.twelvetest {
	margin-bottom: 5px;
	font-family: 'Montserrat', sans-serif;
}
.thirteentest {
  padding:2px 10px;
  height:19px;
  border:1px solid #ddd;
  color:#333;
  z-index:2;
  margin-top: 50px;
  width: 250px;
  display: block;
  text-align: center;
  margin: 0 auto;
}
.fourteentest {
  padding:2px 10px;
  height:25px;
  border:1px solid #ddd;
  color:#333;
  z-index:2;
  margin-top: 50px;
  width: 275px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.error_explanation {
	width: 1000px;
}


@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {

  list-style: none;
  margin: 10px 0 10px;
  padding: 25px 0 5px;
  text-align: center;
  
}
.menu-main li {display: inline-block;}
.menu-main li:after {

  content: "|";
  color: #F0FFFF;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  color: #F0FFFF;
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 5px 0 5px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .5s;
}

.menu-main a:before,
.menu-main a:after {

  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
	color: #F0FFFF;
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}

.mt-2 {
   visibility: hidden;
}

.form-group {
  text-align: center;
}

.form-control {
  padding:2px 10px;
  height:19px;
  border:1px solid #ddd;
  color:#333;
  z-index:2;
  margin-top: 50px;
  width: 250px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.btn {
  margin-top: 30px;
    text-align: center;
    width:220px;
    height:40px;
    color:#FFF;
    background-color: #6495ED;
    text-decoration:none;
    line-height:33px;
  border-radius: 10px;
}

.alert {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 23px;
  font-family: 'Times New Roman';
  text-align: center;
  color: red;

}

.testodin {
  background: url(line1.PNG);
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
  font-size: 20px;
  color: black;
  
  
}