.page {
  width: 21cm;
  min-height: 29.7cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 15%;
}

@page {
  size: A4;
  margin: 0;
  padding: 15%;
}

@media print {
  .page {
    padding: 10px,15px,10px,10px;
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
    
  }

  .ass{

    display: none;
  }
}

.hetter {
  text-align: right;
  font: 16pt "Tahoma";
  line-height: 1.5;
}

.body {
  text-align: center;
  font: 16pt "Tahoma";
  line-height: 1.5;
}
.down{
  font: 16pt "Tahoma";
  text-align: justify;
  padding: 10px;
}

.down:after {
  content: '';
  width: 100%;
  display: inline-block;
}

.date_down {
  line-height: normal;
    display: inline-block;
    padding: 10px;
  }
  
.ass {
  text-align: center;
}

body {
  background: url(fon3.jpg) center no-repeat fixed;
  background-size: cover;
  opacity: 1;
  padding: 10px,15px,10px,10px;
}

table {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  width: 1000px;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 10px;
  font-size: 50px;
  color: #F5F5F5;
  margin-bottom: 100px;
}

table th {
font-size: 13px;
font-weight: normal;
background: #b9c9fe;
border-top: 4px solid #aabcfe;
border-bottom: 1px solid #fff;
color: #039;
padding: 8px;
}

table td {

background: #e8edff;
border-bottom: 1px solid #fff;
color: #669;
border-top: 1px solid transparent;
padding: 10px,15px,10px,10px;
}

table tr {

}

.push_button {
  
  width:220px;
  height:40px;
  text-align:center;
  color:#FFF;
  text-decoration:none;
  line-height:43px;
  font-family:'Oswald', Helvetica;
  display: block;
  margin: 30px;
}
push_button:before {

  
}

push_button:active {
  -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
  top:5px;
}
push_button:active:before{
  top: -11px;
  bottom: -5px;
  content: "";
}

.blue {
  text-shadow:-1px -1px 0 #2C7982;
  
  border:3px solid #b9c9fe;
  
  
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  
  -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 1px 2px rgba(0, 0, 0, .1);
  
  
}

.blue:hover {
  
  background-image:-webkit-linear-gradient(top, #3EACBA, #48C6D4);
  background-image:-moz-linear-gradient(top, #3EACBA, #48C6D4);
  background-image:-ms-linear-gradient(top, #3EACBA, #48C6D4);
  background-image:-o-linear-gradient(top, #3EACBA, #48C6D4);
  background-image:linear-gradient(top, #3EACBA, #48C6D4);
}

.red{
  font-size: 26px;
  color: red;
}