<!DOCTYPE html>
<html>
  <head>
    <title>Справка |Приложение для взаимодействия с отдеом кадров ОПЦ|</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  </head>

  <body>
  
  <% unless @print_form || session[:user_id].blank? %>
    <div class="seventeentest">
  <ul class="menu-main">
  <li class="">
    <%= link_to 'Главная', root_path %>
      
    </li>
    <li class="">
    <%= link_to 'Редактирование справочника', otdels_path %>
      
    </li>
    <li class="">
      <%= link_to 'Архив заявок', archive_path  %>
    </li>
    <li class="">
    <%= link_to 'Создать заявку для отдела кадров', new_spravka_life_path %>
      
    </li>
  </ul>
</div>
<% end %>
    <%= yield %>
  </body>
</html>
